[submodule "themes/airspace"]
	path = themes/airspace
	url = https://github.com/themefisher/airspace-hugo
[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/gethugothemes/liva-hugo
[submodule "themes/roxo"]
	path = themes/roxo
	url = https://github.com/StaticMania/roxo-hugo
