{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section" style="background: #f5f5f5;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="author-text">
          <figure class="author-img">
            {{ if .Params.photo -}}
            <img style="border-radius: 50%;" class="img-fluid" src="{{ .Params.photo }}">
            {{ else if .Params.email -}}
            <img style="border-radius: 50%;" class="img-fluid"
              src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
            {{- end }}
            <figcaption>
              <h5 class="font-weight-bold">
                {{ .Params.name }}
              </h5>
            </figcaption>
          </figure>
          <hr>
          <div class="post-content post-excerpt">
            {{ .Content }}
          </div>
          <hr>
          <ul class="list-inline">
            {{ range .Params.social -}}
            <li class="list-inline-item"><a class="share-icon bg-secondary" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{- end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{{ end }}
